.container {
  padding: 2rem;
  background-color: rgba(30, 0, 0, 0.6);
  min-height: 100vh;
  color: white;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 1px 1px 3px #000;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
